<!-- Footer -->
<footer class="footer">
            <div class="footer_inner bg-feature">
                <div class="container">
                    <div class="footer_heading flex flex-wrap items-center justify-between gap-4 w-full md:pt-10 pt-7 md:pb-5 pb-4 border-b border-light">
                        <a href="index.html" class="footer_logo">index.html</a>
                        <div class="list_social flex flex-wrap items-center gap-4">
                            <span class="text-subtitle text-white" data_wromo_id="span_follow_us__47883">Follow Us:</span>
                            <div class="list flex flex-wrap items-center gap-3">
                                <a href="https://www.facebook.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_faceboo_88452">
                                    <span class="icon-facebook text-lg"></span>
                                    <span class="blind">link to facebook</span>
                                </a>
                                <a href="https://www.linkedin.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_linkedi_19017">
                                    <span class="icon-linkedin text-lg"></span>
                                    <span class="blind">link to linkedin</span>
                                </a>
                                <a href="https://www.twitter.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_twitter_24314">
                                    <span class="icon-twitter text-lg"></span>
                                    <span class="blind">link to twitter</span>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_instagr_36938">
                                    <span class="icon-instagram text-lg"></span>
                                    <span class="blind">link to instagram</span>
                                </a>
                                <a href="https://www.pinterest.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_pintere_94125">
                                    <span class="icon-pinterest text-lg"></span>
                                    <span class="blind">link to pinterest</span>
                                </a>
                                <a href="https://www.youtube.com/" target="_blank" class="w-10 h-10 flex items-center justify-center border border-light text-white rounded-full duration-300 hover:bg-white hover:text-black" data_wromo_id="a_link_to_youtube_19369">
                                    <span class="icon-youtube text-lg"></span>
                                    <span class="blind">link to youtube</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer_content flex max-xl:flex-wrap items-start justify-between gap-y-8 md:py-10 py-7">
                        <div class="footer_nav max-md:w-1/2">
                            <strong class="nav_heading text-button-sm text-white" data_wromo_id="strong_categories_31468">Categories</strong>
                            <ul class="list_nav flex flex-col gap-3 mt-4">
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_graphics___desi_19100">jobs-default.html</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_digital_marketi_56885">jobs-default.html</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_writing___trans_12729">jobs-default.html</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_video___animati_97440">jobs-default.html</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_music___audio_67653">jobs-default.html</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_programming___t_71847">jobs-default.html</a></li>
                            </ul>
                        </div>
                        <div class="footer_nav max-md:w-1/2">
                            <strong class="nav_heading text-button-sm text-white" data_wromo_id="strong_for_candidates_43974">For Candidates</strong>
                            <ul class="list_nav flex flex-col gap-3 mt-4">
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="candidates-dashboard.html" data_wromo_id="a_candidate_dashb_98123">Candidate Dashboard</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="jobs-default.html" data_wromo_id="a_browse_jobs_97489">Browse jobs</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="employers-default.html" data_wromo_id="a_browse_employer_63590">Browse employers</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="candidates-proposals.html" data_wromo_id="a_my_proposals_71228">My Proposals</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="candidates-my-services.html" data_wromo_id="a_my_services_96619">My Services</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="candidates-jobs-alerts.html" data_wromo_id="a_job_alerts_12622">Job Alerts</a></li>
                            </ul>
                        </div>
                        <div class="footer_nav max-md:w-1/2">
                            <strong class="nav_heading text-button-sm text-white" data_wromo_id="strong_for_employer_44424">For Employer</strong>
                            <ul class="list_nav flex flex-col gap-3 mt-4">
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="employers-dashboard.html" data_wromo_id="a_employer_dashbo_19269">Employers Dashboard</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="candidates-default.html" data_wromo_id="a_browse_candidat_87654">Browse Candidates</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="services-default.html" data_wromo_id="a_browse_services_67035">Browse services</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="employers-submit-jobs.html" data_wromo_id="a_submit_jobs_15501">Submit Jobs</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="employers-jobs.html" data_wromo_id="a_my_jobs_12948">My Job</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="employers-applicants-jobs.html" data_wromo_id="a_applicants_jobs_57846">employers-applicants-jobs.html</a></li>
                            </ul>
                        </div>
                        <div class="footer_nav max-md:w-1/2">
                            <strong class="nav_heading text-button-sm text-white" data_wromo_id="strong_support_45665">Support</strong>
                            <ul class="list_nav flex flex-col gap-3 mt-4">
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="term-of-use.html" data_wromo_id="a_help___support_1640">Help &amp; Support</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="become-seller.html" data_wromo_id="a_selling_on_free_51289">Selling On FreelanHub</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="become-buyer.html" data_wromo_id="a_buying_on_freel_8399">Buying On FreelanHub</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="about1.html" data_wromo_id="a_services_49430">Services</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="faqs.html" data_wromo_id="a_faqs_52869">FAQs</a></li>
                                <li><a class="caption1 capitalize line-before line-white text-placehover hover:text-white duration-300" href="contact1.html" data_wromo_id="a_contact_us_62005">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0 max-xl:w-full">
                            <div class="company-contact sm:w-[340px]">
                                <strong class="heading block text-button-sm text-white" data_wromo_id="strong_subscribe_12764">Subscribe</strong>
                                <form class="send-block mt-4 flex items-center h-[46px] rounded-lg overflow-hidden">
                                    <input class="caption1 text-secondary h-full w-full pr-4 pl-3" type="email" placeholder="Your email address" required="" data_wromo_id="input_97113">
                                    <button class="flex items-center justify-center w-[46px] h-[46px] bg-primary flex-shrink-0" data_wromo_id="button_button_submit_58983">
                                        <span class="ph ph-paper-plane-tilt text-white"></span>
                                        <span class="blind" data_wromo_id="span_button_submit_65674">button submit</span>
                                    </button>
                                </form>
                                <strong class="heading block text-button-sm text-white mt-5" data_wromo_id="strong_download_app_18793">Download App</strong>
                                <div class="list-download flex items-start gap-3 mt-4">
                                    <a href="https://play.google.com/" target="_blank" data_wromo_id="a_95598">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/download/gg_play.png" alt="gg_play" data_wromo_id="img_98149">
                                    </a>
                                    <a href="https://www.apple.com/app-store/" target="_blank" data_wromo_id="a_47830">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/download/app_store.png" alt="app_store" data_wromo_id="img_32897">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_bottom flex items-center justify-between max-sm:flex-col gap-2 py-2 border-t border-light">
                        <div class="left-block flex items-center">
                            <div class="copyright text-placehover caption1" data_wromo_id="div__2024_freelanhu_75661">©2026 Studio Wromo. All Rights Reserved.</div>
                        </div>
                        <div class="nav-link flex items-center gap-2.5">
                            <a class="text-placehover caption1 hover-underline" href="term-of-use.html" data_wromo_id="a_terms_of_servic_72635">Terms Of Services</a>
                            <span class="text-placehover caption1" data_wromo_id="span___37351">|</span>
                            <a class="text-placehover caption1 hover-underline" href="term-of-use.html" data_wromo_id="a_privacy_policy_64461">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Menu mobile to footer-->
        <div class="menu_mobile">
            <button class="menu_mobile_close flex items-center justify-center absolute top-5 left-5 w-8 h-8 rounded-full bg-surface" data_wromo_id="button_43009">
                <span class="ph-bold ph-x"></span>
            </button>
            <div class="heading flex items-center justify-center mt-5">
                <a href="index.html" class="logo" data_wromo_id="a_93572">
                    <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/logo.png" alt="logo" class="h-8" data_wromo_id="img_31387">
                </a>
            </div>
            <form class="form-search relative mt-4 mx-5">
                <button class="absolute left-3 top-1/2 -translate-y-1/2 cursor-pointer" data_wromo_id="button_26968">
                    <i class="ph ph-magnifying-glass text-xl block"></i>
                </button>
                <input type="text" placeholder="What are you looking for?" class="h-12 rounded-lg border border-line text-sm w-full pl-10 pr-4" required="" data_wromo_id="input_7196">
            </form>
            <div class="mt-4">
                <ul class="nav_mobile">
                    <li class="nav_item py-2">
                        <a href="#!" class="text-xl font-semibold flex items-center justify-between" data_wromo_id="a_homepages_55983">
                            Homepages
                            <span class="text-right">
                                <i class="ph ph-caret-right text-xl"></i>
                            </span>
                        </a>
                        <div class="sub_nav_mobile">
                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_88777">
                                <i class="ph ph-caret-left text-xl"></i>
                                Back
                            </button>
                            <div class="list-nav-item w-full pt-2 pb-6">
                                <ul>
                                    <li class="nav_item">
                                        <a href="index.html" class="inline-block text-xl font-semibold py-2 capitalize active" data_wromo_id="a_home_freelancer_51309"> Home Freelancer 01 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_72522"> Home Freelancer 02 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer3.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_6067"> Home Freelancer 03 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer4.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_28451"> Home Freelancer 04 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer5.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_11306"> Home Freelancer 05 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer6.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_4526"> Home Freelancer 06 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer7.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_6687"> Home Freelancer 07 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="freelancer8.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_freelancer_96442"> Home Freelancer 08 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="jobs9.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_jobs_09_17562"> Home Jobs 09 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="jobs10.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_jobs_10_58850"> Home Jobs 10 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="jobs11.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_jobs_11_20748"> Home Jobs 11 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="jobs12.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_jobs_12_54642"> Home Jobs 12 </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="rtl13.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_home_rtl_13_53108"> Home RTL 13 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav_item py-2">
                        <a href="/" class="text-xl font-semibold flex items-center justify-between" data_wromo_id="a_for_candidates_38505">
                            For Candidates
                            <span class="text-right">
                                <i class="ph ph-caret-right text-xl"></i>
                            </span>
                        </a>
                        <div class="sub_nav_mobile">
                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_12071">
                                <i class="ph ph-caret-left text-xl"></i>
                                Back
                            </button>
                            <div class="list-nav-item w-full pt-2 pb-6">
                                <ul>
                                    <li class="nav_item">
                                        <a href="#!" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_browse_jobs_70071">
                                            Browse jobs
                                            <span class="text-right">
                                                <i class="ph ph-caret-right text-xl"></i>
                                            </span>
                                        </a>
                                        <div class="sub_nav_mobile2">
                                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_64556">
                                                <i class="ph ph-caret-left text-xl"></i>
                                                Back
                                            </button>
                                            <div class="list-nav-item w-full pt-2 pb-6">
                                                <ul>
                                                    <li class="nav_item">
                                                        <a href="jobs-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_default_89215"> jobs default </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_grid_67769"> jobs grid </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_list_15625"> jobs list </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-top-map.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_top_map_81754"> jobs top map </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-half-map-grid1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_half_map_g_17898"> jobs half map grid 1 </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-half-map-grid2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_half_map_g_65208"> jobs half map grid 2 </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-fullwidth.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_fullwidth_35984"> jobs fullwidth </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_detail_1_55321"> jobs detail 1 </a>
                                                    </li>
                                                    <li class="nav_item">
                                                        <a href="jobs-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_jobs_detail_2_27788"> jobs detail 2 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_item">
                                        <a href="#!" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_browse_projects_31361">
                                            Browse Projects
                                            <span class="text-right">
                                                <i class="ph ph-caret-right text-xl"></i>
                                            </span>
                                        </a>
                                        <div class="sub_nav_mobile2">
                                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_48968">
                                                <i class="ph ph-caret-left text-xl"></i>
                                                Back
                                            </button>
                                            <div class="list-nav-item w-full pt-2 pb-6">
                                                <ul>
                                                    <li>
                                                        <a href="project-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_default_15241"> project default </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-grid-3col.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_grid_3__18504"> project grid 3 columns </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_list_22727"> project list </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-top-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_top_map_51060"> project top map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-top-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_top_map_17931"> project top map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-half-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_half_ma_55183"> project half map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-half-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_half_ma_87371"> project half map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-fullwidth.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_fullwid_38652"> project fullwidth </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_detail__50198"> project detail 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_detail__26768"> project detail 2 </a>
                                                    </li>
                                                    <li>
                                                        <a href="project-detail3.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_project_detail__94684"> project detail 3 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_item">
                                        <a href="#!" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_browse_employer_50627">
                                            Browse Employer
                                            <span class="text-right">
                                                <i class="ph ph-caret-right text-xl"></i>
                                            </span>
                                        </a>
                                        <div class="sub_nav_mobile2">
                                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_42155">
                                                <i class="ph ph-caret-left text-xl"></i>
                                                Back
                                            </button>
                                            <div class="list-nav-item w-full pt-2 pb-6">
                                                <ul>
                                                    <li>
                                                        <a href="employers-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_defau_91717"> employers default </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_grid_80340"> employers grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_list_26088"> employers list </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-sidebar-grid-3cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_sideb_63620"> employers sidebar grid 3 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-sidebar-grid-2cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_sideb_39894"> employers sidebar grid 2 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-sidebar-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_sideb_12961"> employers sidebar list </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-top-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_top_m_73621"> employers top map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-top-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_top_m_24619"> employers top map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-half-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_half__90198"> employers half map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-half-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_half__77103"> employers half map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-fullwidth.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_fullw_33027"> employers fullwidth </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_detai_1864"> employers detail 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="employers-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_employers_detai_70413"> employers detail 2 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_item">
                                        <a href="become-seller.html" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_become_a_seller_38450"> Become a seller </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="candidates-dashboard.html" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_candidates_dash_38897"> Candidates Dashboard </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav_item py-2">
                        <a href="#!" class="text-xl font-semibold flex items-center justify-between" data_wromo_id="a_for_employers_16690">
                            For Employers
                            <span class="text-right">
                                <i class="ph ph-caret-right text-xl"></i>
                            </span>
                        </a>
                        <div class="sub_nav_mobile">
                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_54683">
                                <i class="ph ph-caret-left text-xl"></i>
                                Back
                            </button>
                            <div class="list-nav-item w-full pt-2 pb-6">
                                <ul>
                                    <li class="nav_item">
                                        <a href="#!" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_browse_services_84190">
                                            Browse services
                                            <span class="text-right">
                                                <i class="ph ph-caret-right text-xl"></i>
                                            </span>
                                        </a>
                                        <div class="sub_nav_mobile2">
                                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_83041">
                                                <i class="ph ph-caret-left text-xl"></i>
                                                Back
                                            </button>
                                            <div class="list-nav-item w-full pt-2 pb-6">
                                                <ul>
                                                    <li>
                                                        <a href="services-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_defaul_58435"> services default </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_grid_94015"> services grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_list_83665"> services list </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-sidebar-grid-3cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_sideba_89975"> services sidebar grid 3 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-sidebar-grid-2cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_sideba_28725"> services sidebar grid 2 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-sidebar-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_sideba_27490"> services sidebar list </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-fullwidth-grid-5cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_fullwi_84498"> services fullwidth grid 5 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-fullwidth-grid-4cols.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_fullwi_62586"> services fullwidth grid 4 cols </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-fullwidth-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_fullwi_8757"> services fullwidth list </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_detail_38609"> services detail 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="services-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_services_detail_92705"> services detail 2 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_item">
                                        <a href="#!" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_browse_candidat_43768">
                                            Browse candidates
                                            <span class="text-right">
                                                <i class="ph ph-caret-right text-xl"></i>
                                            </span>
                                        </a>
                                        <div class="sub_nav_mobile2">
                                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_76806">
                                                <i class="ph ph-caret-left text-xl"></i>
                                                Back
                                            </button>
                                            <div class="list-nav-item w-full pt-2 pb-6">
                                                <ul>
                                                    <li>
                                                        <a href="candidates-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_defa_23690"> candidates default </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_grid_24406"> candidates grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_list_71158"> candidates list </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-sidebar-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_side_63717"> candidates sidebar grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-sidebar-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_side_2697"> candidates sidebar list </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-top-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_top__98274"> candidates top map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-top-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_top__31153"> candidates top map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-half-map-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_half_50919"> candidates half map grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-half-map-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_half_84439"> candidates half map list </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-fullwidth-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_full_35643"> candidates fullwidth grid </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-fullwidth-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_full_41217"> candidates fullwidth list </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_deta_36803"> candidates detail 1 </a>
                                                    </li>
                                                    <li>
                                                        <a href="candidates-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_candidates_deta_2010"> candidates detail 2 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav_item">
                                        <a href="become-buyer.html" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_become_a_buyer_47030"> Become a buyer </a>
                                    </li>
                                    <li class="nav_item">
                                        <a href="employers-dashboard.html" class="link flex items-center justify-between w-full py-2 text-xl font-semibold capitalize" data_wromo_id="a_employer_dashbo_47637"> employer Dashboard </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav_item py-2">
                        <a href="#!" class="text-xl font-semibold flex items-center justify-between" data_wromo_id="a_blogs_59999">
                            Blogs
                            <span class="text-right">
                                <i class="ph ph-caret-right text-xl"></i>
                            </span>
                        </a>
                        <div class="sub_nav_mobile">
                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_62082">
                                <i class="ph ph-caret-left text-xl"></i>
                                Back
                            </button>
                            <div class="list-nav-item w-full pt-2 pb-6">
                                <ul>
                                    <li>
                                        <a href="blog-default.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_blog_default_31682"> Blog default </a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_blog_grid_37938"> Blog grid </a>
                                    </li>
                                    <li>
                                        <a href="blog-list.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_blog_list_10801"> Blog list </a>
                                    </li>
                                    <li>
                                        <a href="blog-detail1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_blog_detail_1_4455"> Blog detail 1 </a>
                                    </li>
                                    <li>
                                        <a href="blog-detail2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_blog_detail_2_24534"> Blog detail 2 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav_item py-2">
                        <a href="/" class="text-xl font-semibold flex items-center justify-between" data_wromo_id="a_pages_33411">
                            Pages
                            <span class="text-right">
                                <i class="ph ph-caret-right text-xl"></i>
                            </span>
                        </a>
                        <div class="sub_nav_mobile">
                            <button class="back_btn flex items-center gap-3" data_wromo_id="button_back_80752">
                                <i class="ph ph-caret-left text-xl"></i>
                                Back
                            </button>
                            <div class="list-nav-item w-full pt-2 pb-6">
                                <ul>
                                    <li>
                                        <a href="about1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_about_us_1_25025"> About Us 1 </a>
                                    </li>
                                    <li>
                                        <a href="about2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_about_us_2_44524"> About Us 2 </a>
                                    </li>
                                    <li>
                                        <a href="pricing.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_pricing_plan_99246"> Pricing Plan </a>
                                    </li>
                                    <li>
                                        <a href="contact1.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_contact_us_1_7562"> Contact Us 1 </a>
                                    </li>
                                    <li>
                                        <a href="contact2.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_contact_us_2_52993"> Contact Us 2 </a>
                                    </li>
                                    <li>
                                        <a href="faqs.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_faqs_95929"> Faqs </a>
                                    </li>
                                    <li>
                                        <a href="term-of-use.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_terms_of_use_27196"> Terms of use </a>
                                    </li>
                                    <li>
                                        <a href="error-404.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_error_404_95105"> Error 404 </a>
                                    </li>
                                    <li>
                                        <a href="login.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_login_14765"> Login </a>
                                    </li>
                                    <li>
                                        <a href="register.html" class="inline-block text-xl font-semibold py-2 capitalize" data_wromo_id="a_register_46759"> Register </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/jquery.min.js"></script>
        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/phosphor-icons.js"></script>
        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/slick.min.js"></script>
        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/leaflet.js"></script>
        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/swiper-bundle.min.js"></script>
        <script src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/js/main.js"></script>
        <script src="/wromo_loader_id/wromo-loader-id.js"></script>
