<!-- Prefooter Banner -->
        <section class="banner lg:pb-20 sm:pb-14 pb-10">
            <div class="container">
                <div class="banner_inner relative sm:px-16 px-8 py-16 overflow-hidden rounded-xl animate animateZoomOutUp" style="--i: 5">
                    <div class="banner_bg absolute top-0 left-0 w-full h-full z-[-1]">
                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/components/banner1.webp" alt="banner1" class="w-full h-full object-cover" data_wromo_id="img_56714">
                    </div>
                    <div class="banner_content">
                        <h4 class="heading4 text-white animate animate_top" style="--i: 1" data_wromo_id="h4_embrace_indepen_74783">Embrace Independence <br class="max-sm:hidden">Start Your Freelance Journey Now</h4>
                        <p class="desc mt-2 text-white animate animate_top" style="--i: 2" data_wromo_id="p_connect_with_yo_33369">Connect with your Desginer in minutes</p>
                        <div class="md:mt-7 mt-5 animate animate_top" style="--i: 3">
                            <a href="become-seller.html" class="button-main bg-white" data_wromo_id="a_become_a_seller_51650">Become A Seller</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======== Prefooter Banner Section End ======== -->