        <!-- Testimonials -->
        <section class="testimonials lg:py-20 sm:py-14 py-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1" data_wromo_id="h3_testimonials_64039">Testimonials</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2" data_wromo_id="p_discover_except_66355">Discover exceptional experiences through testimonials from our satisfied customers.</p>
                <div class="swiper -section swiper-list-testimonials style-2 md:pt-10 pt-7">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials_item p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 1">
                                <strong class="text-title" data_wromo_id="strong_choosing_freela_47924">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic and conversions.</strong>
                                <div class="testimonials_info flex items-center mt-5 gap-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/avatar/IMG-1.webp" alt="IMG-1" class="w-full h-full object-cover" data_wromo_id="img_42136">
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6" data_wromo_id="h6_liam_anderson_73438">Liam Anderson</h6>
                                        <span class="caption1 text-secondary" data_wromo_id="span_head_of_recruit_90016">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 2">
                                <strong class="text-title" data_wromo_id="strong_choosing_freela_1958">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic and conversions.</strong>
                                <div class="testimonials_info flex items-center mt-5 gap-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/avatar/IMG-2.webp" alt="IMG-2" class="w-full h-full object-cover" data_wromo_id="img_90730">
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6" data_wromo_id="h6_emily_johnson_92329">Emily Johnson</h6>
                                        <span class="caption1 text-secondary" data_wromo_id="span_head_of_recruit_53039">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 3">
                                <strong class="text-title" data_wromo_id="strong_choosing_freela_36228">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic and conversions.</strong>
                                <div class="testimonials_info flex items-center mt-5 gap-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/avatar/IMG-3.webp" alt="IMG-3" class="w-full h-full object-cover" data_wromo_id="img_60917">
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6" data_wromo_id="h6_alexander_peter_82291">Alexander Peter</h6>
                                        <span class="caption1 text-secondary" data_wromo_id="span_head_of_recruit_53986">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonials_item p-7.5 bg-white rounded-lg duration-300 shadow-md animate animate_top" style="--i: 4">
                                <strong class="text-title" data_wromo_id="strong_choosing_freela_39648">Choosing FreelanHub was the best decision we made for our business. Their expertise in SEO and digital marketing has significantly boosted our traffic and conversions.</strong>
                                <div class="testimonials_info flex items-center mt-5 gap-5">
                                    <div class="testimonials_avatar w-15 h-15 rounded-full overflow-hidden">
                                        <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/avatar/IMG-4.webp" alt="IMG-4" class="w-full h-full object-cover" data_wromo_id="img_53516">
                                    </div>
                                    <div class="testimonials_user">
                                        <h6 class="testimonials_name heading6" data_wromo_id="h6_emily_johnson_66668">Emily Johnson</h6>
                                        <span class="caption1 text-secondary" data_wromo_id="span_head_of_recruit_92798">Head of Recruitment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!-- ======== Testimonials Section End ======== -->