    <!-- Blog -->
        <section class="blog lg:py-20 sm:py-14 py-10">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1" data_wromo_id="h3_guide_to_help_y_37679">Guide To Help You Grow</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2" data_wromo_id="p_find_the_right__36115">Find the right career opportunity for you</p>
                <ul class="list_blog grid lg:grid-cols-3 sm:grid-cols-2 lg:gap-7.5 gap-6 md:mt-10 mt-7">
                    <li class="blog_item animate animate_top" style="--i: 1">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl" data_wromo_id="a_92593">
                            <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/blog/1.webp" alt="1" class="blog_img w-full" data_wromo_id="img_78949">
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1" data_wromo_id="span_february_28__20_42743">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary" data_wromo_id="a_freelancers_81060">Freelancers</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline" data_wromo_id="a_boosting_your_f_48397">Boosting your freelancing game: AI tools for enhanced efficiency</a>
                        <p class="blog_desc mt-2 text-secondary" data_wromo_id="p_ai_tools_have_e_2158">AI tools have emerged as a powerful ally for freelancers across diverse fields.</p>
                    </li>
                    <li class="blog_item animate animate_top" style="--i: 2">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl" data_wromo_id="a_93683">
                            <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/blog/2.webp" alt="2" class="blog_img w-full" data_wromo_id="img_62612">
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1" data_wromo_id="span_february_28__20_72120">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary" data_wromo_id="a_developement_94103">Developement</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline" data_wromo_id="a_5_ways_to_enhan_11415">5 ways to enhance your business website in 2024</a>
                        <p class="blog_desc mt-2 text-secondary" data_wromo_id="p_if_it_s_been_a__54062">If it's been a while since your last website upgrade, you may be missing out on some big opportunities.</p>
                    </li>
                    <li class="blog_item max-lg:hidden animate animate_top" style="--i: 3">
                        <a href="blog-detail1.html" class="blog_thumb block overflow-hidden rounded-xl" data_wromo_id="a_84772">
                            <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/blog/3.webp" alt="3" class="blog_img w-full" data_wromo_id="img_72509">
                        </a>
                        <div class="blog_info flex items-center gap-2 mt-5">
                            <span class="blog_date caption1" data_wromo_id="span_february_28__20_69286">February 28, 2024</span>
                            <div class="line w-px h-3 bg-line"></div>
                            <a href="blog-default.html" class="caption1 duration-300 hover:text-primary" data_wromo_id="a_marketing_6483">Marketing</a>
                        </div>
                        <a href="blog-detail1.html" class="heading5 blog_title mt-3 hover:underline" data_wromo_id="a_how_no_code_sol_18607">How No-Code Solutions Let You Build Apps Without Coding Skills</a>
                        <p class="blog_desc mt-2 text-secondary" data_wromo_id="p_in_this_blog_ar_31941">In this blog article by our partner Appy Pie, we're exploring what no-code app development.</p>
                    </li>
                </ul>
            </div>
        </section>