<!-- Brand -->
        <section class="brand bg-surface py-7">
            <div class="container">
                <h6 class="heading6 text-center" data_wromo_id="h6_trusted_by_lead_8295">Trusted by leading enterprise organizations and freelancers globally</h6>
                <div class="swiper swiper-list-brand mt-6">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/1.png" alt="1" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_64393">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/2.png" alt="2" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_95699">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/3.png" alt="3" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_24941">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/4.png" alt="4" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_300">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/5.png" alt="5" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_1833">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/6.png" alt="6" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_9268">
                            </div>
                        </div>
                        <div class="swiper-slide flex items-center justify-center">
                            <div class="brand-item relative flex items-center justify-center sm:h-8 h-7.5 flex-shrink-0">
                                <img src="/wromo-loader-id-end-components-edit-view/theme/0aa012-641a1d-a11019-bac123/assets/images/brand/7.png" alt="7" class="h-full w-auto duration-500 relative object-cover" data_wromo_id="img_53599">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>