<!-- Counter -->
        <section class="counter lg:py-15 sm:py-12 py-8 bg-[#FAF7F1]">
            <div class="container flex max-lg:flex-wrap items-center justify-between max-lg:gap-y-8">
                <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 1">
                    <h2 class="heading2 pb-1 text-center" data_wromo_id="h2_2_5m__88342">2,5M+</h2>
                    <span class="body1 text-center" data_wromo_id="span_jobs_available_84727">Jobs Available</span>
                </div>
                <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
                <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 2">
                    <h2 class="heading2 pb-1 text-center" data_wromo_id="h2_177k__93337">177k+</h2>
                    <span class="body1 text-center" data_wromo_id="span_new_jobs_this_w_58171">New Jobs This Week!</span>
                </div>
                <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
                <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 3">
                    <h2 class="heading2 pb-1 text-center" data_wromo_id="h2_298k__88669">298k+</h2>
                    <span class="body1 text-center" data_wromo_id="span_companies_hirin_14646">Companies Hiring</span>
                </div>
                <div class="line flex-shrink-0 w-px h-20 bg-line max-lg:hidden"></div>
                <div class="item max-lg:flex max-lg:flex-col max-lg:w-1/2 animate animate_top" style="--i: 4">
                    <h2 class="heading2 pb-1 text-center" data_wromo_id="h2_5m__28155">5M+</h2>
                    <span class="body1 text-center" data_wromo_id="span_total_freelance_91445">Total Freelancers</span>
                </div>
            </div>
        </section>
        <!-- ======== Counter Section End ======== -->