        <!-- Projects -->
        <section class="projects lg:py-20 sm:py-14 py-10 bg-surface">
            <div class="container">
                <h3 class="heading3 text-center animate animate_top" style="--i: 1" data_wromo_id="h3_latest_projects_44944">Latest Projects</h3>
                <p class="body2 text-secondary text-center mt-3 animate animate_top" style="--i: 2" data_wromo_id="p_discover_our_la_16216">Discover our latest project with cutting-edge features. Explore now!</p>
                <ul class="list grid md:grid-cols-2 grid-cols-1 lg:gap-7.5 gap-5 md:mt-10 mt-7">
                    <li class="project_item p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 1">
                        <div class="project_innner">
                            <div class="project_info flex justify-between gap-3 pb-4 border-b border-line">
                                <div class="project_content">
                                    <a href="project-detail1.html" class="project_name heading6 duration-300 hover:underline" data_wromo_id="a_figma_mockup_ne_9699">Figma mockup needed for a new website for Electrical contractor business website</a>
                                    <div class="project_related_info flex flex-wrap items-center gap-3 mt-3">
                                        <div class="project_date flex items-center gap-1">
                                            <span class="ph ph-calendar-blank text-xl text-secondary"></span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_days_ago_206">2 days ago</span>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <span class="ph ph-map-pin text-xl text-secondary"></span>
                                            <span class="project_address -style-1 caption1 text-secondary" data_wromo_id="span_las_vegas__usa_98760">Las Vegas, USA</span>
                                        </div>
                                        <div class="project_spent flex items-center gap-1">
                                            <span class="caption1 text-secondary" data_wromo_id="span___91012">$</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_8k_87413">2.8K</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_spent_77587">spent</span>
                                        </div>
                                    </div>
                                    <p class="project_desc mt-3 text-secondary" data_wromo_id="p_i_am_looking_fo_30176">I am looking for a talented UX/UI Designer to create screens for my basic product idea. The project involves designing a web application, you may be missing out on some big opportunities.</p>
                                    <div class="list_tag flex items-center gap-2.5 flex-wrap mt-3">
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_graphic_design_58276">Graphic Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_website_design_47733">Website Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_figma_39717">Figma</a>
                                    </div>
                                </div>
                                <button class="add_wishlist_btn -relative -border" data_wromo_id="button_button_add_to_w_48992">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                    <span class="blind" data_wromo_id="span_button_add_to_w_79497">button add to wishlist</span>
                                </button>
                            </div>
                            <div class="project_more_info flex items-center justify-between pt-4">
                                <div class="project_proposals">
                                    <span class="text-secondary" data_wromo_id="span_proposals__43715">Proposals: </span>
                                    <span class="proposals" data_wromo_id="span_50__54884">50+</span>
                                </div>
                                <div class="project_price">
                                    <span class="price text-title" data_wromo_id="span__170_99385">$170</span>
                                    <span class="text-secondary" data_wromo_id="span__fixed_price_34407">/fixed-price</span>
                                </div>
                            </div>
                        </div>
                        <div class="project_action mt-3">
                            <a href="project-detail1.html" class="project_apply_btn button-main -border w-full" data_wromo_id="a_apply_now_39584">Apply now</a>
                        </div>
                    </li>
                    <li class="project_item p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 2">
                        <div class="project_innner">
                            <div class="project_info flex justify-between gap-3 pb-4 border-b border-line">
                                <div class="project_content">
                                    <a href="project-detail1.html" class="project_name heading6 duration-300 hover:underline" data_wromo_id="a_i_need_you_to_d_40264">I need you to design a email confirming for a ticket buying in a beautiful modern way for mobile</a>
                                    <div class="project_related_info flex flex-wrap items-center gap-3 mt-3">
                                        <div class="project_date flex items-center gap-1">
                                            <span class="ph ph-calendar-blank text-xl text-secondary"></span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_days_ago_62330">2 days ago</span>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <span class="ph ph-map-pin text-xl text-secondary"></span>
                                            <span class="project_address -style-1 caption1 text-secondary" data_wromo_id="span_las_vegas__usa_64328">Las Vegas, USA</span>
                                        </div>
                                        <div class="project_spent flex items-center gap-1">
                                            <span class="caption1 text-secondary" data_wromo_id="span___5938">$</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_8k_93545">2.8K</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_spent_44652">spent</span>
                                        </div>
                                    </div>
                                    <p class="project_desc mt-3 text-secondary" data_wromo_id="p_i_am_looking_fo_72371">I am looking for a talented UX/UI Designer to create screens for my basic product idea. The project involves designing a web application, you may be missing out on some big opportunities.</p>
                                    <div class="list_tag flex items-center gap-2.5 flex-wrap mt-3">
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_graphic_design_65282">Graphic Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_website_design_29213">Website Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_figma_79972">Figma</a>
                                    </div>
                                </div>
                                <button class="add_wishlist_btn -relative -border" data_wromo_id="button_button_add_to_w_29459">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                    <span class="blind" data_wromo_id="span_button_add_to_w_6906">button add to wishlist</span>
                                </button>
                            </div>
                            <div class="project_more_info flex items-center justify-between pt-4">
                                <div class="project_proposals">
                                    <span class="text-secondary" data_wromo_id="span_proposals__81123">Proposals: </span>
                                    <span class="proposals" data_wromo_id="span_50__83883">50+</span>
                                </div>
                                <div class="project_price">
                                    <span class="price text-title" data_wromo_id="span__170_72963">$170</span>
                                    <span class="text-secondary" data_wromo_id="span__fixed_price_56308">/fixed-price</span>
                                </div>
                            </div>
                        </div>
                        <div class="project_action mt-3">
                            <a href="project-detail1.html" class="project_apply_btn button-main -border w-full" data_wromo_id="a_apply_now_13163">Apply now</a>
                        </div>
                    </li>
                    <li class="project_item p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 3">
                        <div class="project_innner">
                            <div class="project_info flex justify-between gap-3 pb-4 border-b border-line">
                                <div class="project_content">
                                    <a href="project-detail1.html" class="project_name heading6 duration-300 hover:underline" data_wromo_id="a_website_design__45416">Website Design (Web &amp; Responsive) for an Online Tutoring Website</a>
                                    <div class="project_related_info flex flex-wrap items-center gap-3 mt-3">
                                        <div class="project_date flex items-center gap-1">
                                            <span class="ph ph-calendar-blank text-xl text-secondary"></span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_days_ago_17014">2 days ago</span>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <span class="ph ph-map-pin text-xl text-secondary"></span>
                                            <span class="project_address -style-1 caption1 text-secondary" data_wromo_id="span_las_vegas__usa_32856">Las Vegas, USA</span>
                                        </div>
                                        <div class="project_spent flex items-center gap-1">
                                            <span class="caption1 text-secondary" data_wromo_id="span___7768">$</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_8k_4183">2.8K</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_spent_67718">spent</span>
                                        </div>
                                    </div>
                                    <p class="project_desc mt-3 text-secondary" data_wromo_id="p_i_am_looking_fo_9034">I am looking for a talented UX/UI Designer to create screens for my basic product idea. The project involves designing a web application, you may be missing out on some big opportunities.</p>
                                    <div class="list_tag flex items-center gap-2.5 flex-wrap mt-3">
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_graphic_design_81652">Graphic Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_website_design_51624">Website Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_figma_96620">Figma</a>
                                    </div>
                                </div>
                                <button class="add_wishlist_btn -relative -border" data_wromo_id="button_button_add_to_w_2126">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                    <span class="blind" data_wromo_id="span_button_add_to_w_95894">button add to wishlist</span>
                                </button>
                            </div>
                            <div class="project_more_info flex items-center justify-between pt-4">
                                <div class="project_proposals">
                                    <span class="text-secondary" data_wromo_id="span_proposals__79096">Proposals: </span>
                                    <span class="proposals" data_wromo_id="span_50__97067">50+</span>
                                </div>
                                <div class="project_price">
                                    <span class="price text-title" data_wromo_id="span__50__70_17071">$50-$70</span>
                                    <span class="text-secondary" data_wromo_id="span__hours_58641">/hours</span>
                                </div>
                            </div>
                        </div>
                        <div class="project_action mt-3">
                            <a href="project-detail1.html" class="project_apply_btn button-main -border w-full" data_wromo_id="a_apply_now_99327">Apply now</a>
                        </div>
                    </li>
                    <li class="project_item p-6 rounded-lg bg-white duration-300 shadow-md animate animate_top" style="--i: 4">
                        <div class="project_innner">
                            <div class="project_info flex justify-between gap-3 pb-4 border-b border-line">
                                <div class="project_content">
                                    <a href="project-detail1.html" class="project_name heading6 duration-300 hover:underline" data_wromo_id="a_ux_ui_designer__71780">UX/UI Designer | Web Designer to Redesign the First Screen of the Main Page</a>
                                    <div class="project_related_info flex flex-wrap items-center gap-3 mt-3">
                                        <div class="project_date flex items-center gap-1">
                                            <span class="ph ph-calendar-blank text-xl text-secondary"></span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_days_ago_63322">2 days ago</span>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <span class="ph ph-map-pin text-xl text-secondary"></span>
                                            <span class="project_address -style-1 caption1 text-secondary" data_wromo_id="span_las_vegas__usa_64027">Las Vegas, USA</span>
                                        </div>
                                        <div class="project_spent flex items-center gap-1">
                                            <span class="caption1 text-secondary" data_wromo_id="span___11633">$</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_2_8k_61545">2.8K</span>
                                            <span class="caption1 text-secondary" data_wromo_id="span_spent_2174">spent</span>
                                        </div>
                                    </div>
                                    <p class="project_desc mt-3 text-secondary" data_wromo_id="p_i_am_looking_fo_37849">I am looking for a talented UX/UI Designer to create screens for my basic product idea. The project involves designing a web application, you may be missing out on some big opportunities.</p>
                                    <div class="list_tag flex items-center gap-2.5 flex-wrap mt-3">
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_graphic_design_9950">Graphic Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_website_design_28739">Website Design</a>
                                        <a href="project-default.html" class="project_tag tag bg-surface caption1 hover:text-white hover:bg-primary" data_wromo_id="a_figma_36623">Figma</a>
                                    </div>
                                </div>
                                <button class="add_wishlist_btn -relative -border" data_wromo_id="button_button_add_to_w_27853">
                                    <span class="ph ph-heart text-xl"></span>
                                    <span class="ph-fill ph-heart text-xl"></span>
                                    <span class="blind" data_wromo_id="span_button_add_to_w_17877">button add to wishlist</span>
                                </button>
                            </div>
                            <div class="project_more_info flex items-center justify-between pt-4">
                                <div class="project_proposals">
                                    <span class="text-secondary" data_wromo_id="span_proposals__39376">Proposals: </span>
                                    <span class="proposals" data_wromo_id="span_50__17583">50+</span>
                                </div>
                                <div class="project_price">
                                    <span class="price text-title" data_wromo_id="span__20__30_12357">$20-$30</span>
                                    <span class="text-secondary" data_wromo_id="span__hours_42970">/hours</span>
                                </div>
                            </div>
                        </div>
                        <div class="project_action mt-3">
                            <a href="project-detail1.html" class="project_apply_btn button-main -border w-full" data_wromo_id="a_apply_now_37422">Apply now</a>
                        </div>
                    </li>
                </ul>
                <div class="view_all md:mt-10 mt-7 text-center animate animate_top" style="--i: 5">
                    <a href="project-default.html" class="text-button pb-0.5 border-b-2 border-primary duration-300 hover:text-primary" data_wromo_id="a_view_all_projec_91176">View All Projects</a>
                </div>
            </div>
        </section>
        <!-- ======== Projects Section End ======== -->