<!-- Top Categories -->
        <section class="top_categories lg:pt-20 sm:pt-14 pt-10">
            <div class="container">
                <div class="heading flex items-end justify-between flex-wrap gap-4">
                    <div class="left animate animate_top" style="--i: 1">
                        <h3 class="heading3" data_wromo_id="h3_top_categories_735">Top Categories</h3>
                        <p class="body2 text-secondary mt-3" data_wromo_id="p_explore_a_wide__81393">Explore a wide range of services organized by category</p>
                    </div>
                    <a href="jobs-default.html" class="text-button pb-0.5 border-b-2 border-primary duration-300 hover:text-primary animate animate_top" style="--i: 2" data_wromo_id="a_all_categories_27149">All Categories</a>
                </div>
                <div class="list grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-7.5 md:mt-10 mt-7">
                    <div class="category_item p-7.5 rounded-20 bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 1">
                        <div class="icon pb-4 w-fit line-before line-2px">
                            <span class="icon-graphic text-5xl"></span>
                        </div>
                        <h6 class="heading6 mt-5" data_wromo_id="h6_graphic___desig_9050">Graphic &amp; Design</h6>
                        <div class="list_category flex flex-col gap-2.5 mt-3">
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_logo_design_49069">Logo Design</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_brand_identity__79917">Brand Identity Design</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_advertising_gra_27482">Advertising Graphic Design</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_web_graphics_de_50753">Web Graphics Design</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_packaging_desig_39250">Packaging Design</a>
                        </div>
                    </div>
                    <div class="category_item p-7.5 rounded-20 bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 2">
                        <div class="icon pb-4 w-fit line-before line-2px">
                            <span class="icon-writing text-5xl"></span>
                        </div>
                        <h6 class="heading6 mt-5" data_wromo_id="h6_wrting_99426">Wrting</h6>
                        <div class="list_category flex flex-col gap-2.5 mt-3">
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_content_writing_67037">Content Writing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_blog_writing_51565">Blog Writing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_article_writing_27992">Article Writing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_technical_writi_39538">Technical Writing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_editing_and_pro_40528">Editing and Proofreading</a>
                        </div>
                    </div>
                    <div class="category_item p-7.5 rounded-20 bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 3">
                        <div class="icon pb-4 w-fit line-before line-2px">
                            <span class="icon-video text-5xl"></span>
                        </div>
                        <h6 class="heading6 mt-5" data_wromo_id="h6_videos_60594">Videos</h6>
                        <div class="list_category flex flex-col gap-2.5 mt-3">
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_video_productio_30957">Video Production</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_video_editing_89342">Video Editing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_motion_graphics_2875">Motion Graphics</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_product_demonst_16001">Product Demonstrations</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_video_marketing_47703">Video Marketing Strategy</a>
                        </div>
                    </div>
                    <div class="category_item p-7.5 rounded-20 bg-white shadow-md duration-300 hover:shadow-xl animate animate_top" style="--i: 4">
                        <div class="icon pb-4 w-fit line-before line-2px">
                            <span class="icon-marketing text-5xl"></span>
                        </div>
                        <h6 class="heading6 mt-5" data_wromo_id="h6_digital_marketi_72862">Digital Marketing</h6>
                        <div class="list_category flex flex-col gap-2.5 mt-3">
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_social_media_ma_9210">Social Media Marketing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_search_engine_o_77381">Search Engine Optimization</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_pay_per_click_a_36174">Pay-Per-Click Advertising</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_email_marketing_95304">Email Marketing</a>
                            <a href="jobs-default.html" class="inline-block w-fit line-before text-secondary hover:text-black" data_wromo_id="a_digital_adverti_21519">Digital Advertising Campaigns</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>